.dropdown {
  width: 100%;
  position: relative;
  user-select: none;
}

.dropdown__field {
  display: none;
}

.dropdown__button {
  background-color: var(--rss-white);
  color: var(--rss-primary);
  border-top: 1px solid var(--rss-primary);
  border-right: 1px solid var(--rss-primary);
  border-bottom: 1px solid var(--rss-primary);
  border-left: 1px solid var(--rss-primary);
  border-radius: 25px;
  padding: 12px 24px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.dropdown_opened .dropdown__button {
  border-radius: 25px 25px 0 0;
  background-color: var(--rss-primary);
  color: var(--rss-white);
}

.dropdown__options {
  width: 100%;
  position: absolute;
  top: 100%;
  background-color: var(--rss-white);
  border-top: none;
  border-right: 1px solid var(--rss-primary);
  border-bottom: 1px solid var(--rss-primary);
  border-left: 1px solid var(--rss-primary);
  border-radius: 0 0 25px 25px;
  overflow: hidden;
  z-index: 1;
}

.dropdown__option {
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.dropdown__button:hover,
.dropdown__option:hover {
  color: var(--rss-white);
  background-color: var(--rss-primary-dark);
}

.dropdown__button:hover .icon-chevron__svg {
  fill: var(--rss-white);
}

.dropdown_opened .icon-chevron {
  transform: translateY(-50%) rotate(180deg);
}
