.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__question {
  display: flex;
  flex-direction: column;
}

.form__question-label {
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;
  text-align: center;
  margin: 8px 0;
}

