.request {
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 40px;
  width: 100%;
  padding: 40px;
  border: 1px solid var(--rss-grey);
  border-radius: 4px;
  margin: 0 0 20px 0;
}

.request__photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.request__row {
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 10px;
}

.request__field {
  justify-self: left;
  font-weight: 700;
}
